#topBar {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 12px;
  align-items: center;
  z-index: 1000;
}


#scoreBoard {
  font-size: 18px;
  font-weight: 600;
  padding: 6px 14px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

body.light #scoreBoard {
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
}

body.light #themeToggle {
  background-color: black;
  color: white;
}

#gameOverScreen {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  display: none;
  z-index: 999;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: #222;
    margin: 0;
    font-family: "Quicksand", sans-serif;
}
canvas {
    background-color: #111;
    border: 2px solid #fff;
}

#themeToggle {
  padding: 6px 12px;
  font-size: 14px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

body.light {
  background-color: #f0f0f0;
}

body.light canvas {
  background-color: #fff;
  border: 2px solid #000;
}

body.light button#themeToggle {
  background-color: #000;
  color: #fff;
}